<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamServlet</servlet-name>
        <servlet-class>controller.SanPhamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>controller.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet2</servlet-name>
        <servlet-class>controller.AccountServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServletAcc</servlet-name>
        <servlet-class>controller.InsertServletAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkuser</servlet-name>
        <servlet-class>controller.checkuser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamServlet</servlet-name>
        <url-pattern>/SanPhamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet2</servlet-name>
        <url-pattern>/AccountServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServletAcc</servlet-name>
        <url-pattern>/InsertServletAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkuser</servlet-name>
        <url-pattern>/checkuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
